<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top up balance</title>
</head>
<body>
<%- include('partials/header', { user: user }); -%>

<h1>Top up balance</h1>
<form action="/payu-payment" method="POST">
    <label for="amount">Deposit:</label>
    <input type="number" id="amount" name="amount" required>
    <button type="submit">Pay in PayU</button>
</form>

<%- include('partials/footer'); -%>
</body>
</html>